---
http_interactions:
- request:
    method: post
    uri: https://api.pagar.me/1/customers
    body:
      encoding: UTF-8
      string: '{"external_id":"#123456789","name":"Paulo Moncores","type":"individual","country":"br","email":"paulomoncores@test.com","documents":[{"type":"cpf","number":"46176314887"}],"phone_numbers":["+5511999999999"]}'
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Basic YWtfdGVzdF9OdUt0WndEZlo4UUNGbXViQmdlMXdkQkZuQUo4N1k6eA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Charset:
      - utf-8
      X-Pagarme-Version:
      - '2017-08-28'
      Etag:
      - W/"1c8-ifJJsOrJp1kKbCS+Kqo6QI87CFA"
      X-Response-Time:
      - 55.414ms
    body:
      encoding: ASCII-8BIT
      string: '{"object":"customer","id":4572594,"external_id":"#123456789","type":"individual","country":"br","document_number":null,"document_type":"cpf","name":"Paulo
        Moncores","email":"paulomoncores@test.com","phone_numbers":["+5511999999999"],"born_at":null,"birthday":null,"gender":null,"date_created":"2021-01-18T20:19:03.757Z","documents":[{"object":"document","id":"doc_ckk30hi310y9r0g9t0lgr2j2q","type":"cpf","number":"46176314887"}],"addresses":[],"phones":[]}'
  recorded_at: Mon, 18 Jan 2021 20:19:03 GMT
recorded_with: VCR 5.1.0
