---
http_interactions:
- request:
    method: post
    uri: https://api.pagar.me/1/transactions
    body:
      encoding: UTF-8
      string: '{"api_key":"ak_test_NuKtZwDfZ8QCFmubBge1wdBFnAJ87Y","async":"false","amount":10000,"payment_method":"boleto","metadata":{"id_transacao":"100"},"postback_url":"https://api.pagar.me/1/donation_notifications/100","customer":{"type":"individual","country":"br","name":"Paulo
        Vitor dos Santos Zeferino","documents":[{"type":"cpf","number":"06512424956"}]},"installments":1,"status":"local","card_expiration_date":""}'
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Basic YWtfdGVzdF9OdUt0WndEZlo4UUNGbXViQmdlMXdkQkZuQUo4N1k6eA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Charset:
      - utf-8
      X-Pagarme-Version:
      - '2017-08-28'
      Etag:
      - W/"729-uA9BJR1HQ96twb00sCgo5G5S3M0"
      X-Response-Time:
      - 323.594ms
    body:
      encoding: ASCII-8BIT
      string: '{"object":"transaction","status":"waiting_payment","refuse_reason":null,"status_reason":"acquirer","acquirer_response_code":null,"acquirer_name":"pagarme","acquirer_id":"5a3a49740f66950263323acb","authorization_code":null,"soft_descriptor":null,"tid":11133582,"nsu":11133582,"date_created":"2021-01-18T20:35:35.136Z","date_updated":"2021-01-18T20:35:35.353Z","amount":10000,"authorized_amount":10000,"paid_amount":0,"refunded_amount":0,"installments":1,"id":11133582,"cost":0,"card_holder_name":null,"card_last_digits":null,"card_first_digits":null,"card_brand":null,"card_pin_mode":null,"card_magstripe_fallback":false,"cvm_pin":false,"postback_url":"https://api.pagar.me/1/donation_notifications/100","payment_method":"boleto","capture_method":"ecommerce","antifraud_score":null,"boleto_url":"https://pagar.me","boleto_barcode":"1234
        5678","boleto_expiration_date":"2021-01-25T03:00:00.000Z","referer":"api_key","ip":"142.118.59.255","subscription_id":null,"phone":null,"address":null,"customer":{"object":"customer","id":4572776,"external_id":null,"type":"individual","country":"br","document_number":null,"document_type":"cpf","name":"Paulo
        Vitor dos Santos Zeferino","email":null,"phone_numbers":null,"born_at":null,"birthday":null,"gender":null,"date_created":"2021-01-18T20:35:35.094Z","documents":[{"object":"document","id":"doc_ckk312r0j08im0n9tgxtw1hjb","type":"cpf","number":"06512424956"}]},"billing":null,"shipping":null,"items":[],"card":null,"split_rules":null,"metadata":{"id_transacao":"100"},"antifraud_metadata":{},"reference_key":null,"device":null,"local_transaction_id":null,"local_time":null,"fraud_covered":false,"fraud_reimbursed":null,"order_id":null,"risk_level":"unknown","receipt_url":null,"payment":null,"addition":null,"discount":null,"private_label":null,"pix_qr_code":null,"pix_expiration_date":null}'
  recorded_at: Mon, 18 Jan 2021 20:35:35 GMT
recorded_with: VCR 5.1.0
